body{background-color: #5db2d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 400;
    font-style: italic;
    
    
    }
    /* Style the header */
    .header {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;}
      /* Style the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: #130505;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change color on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    /* Create three unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 10px;
    }
    
    /* Left and right column */
    .column.side {
      width: 25%;
    }
    
    /* Middle column */
    .column.middle {
      width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    
    
    /* Style the footer */
    .footer {
      background-color: #f1f1f1;
      padding: 10px;
      text-align: center;
    }
    
    h1{background-color: rgb(32, 30, 30);
        text-align: center;
    color:lightblue;
    }
        
        p1{color: rgb(3, 15, 15);
        
        }
        * {
                box-sizing: border-box;
              }
              
              body {
                margin: 0;
              }
              
              /* Style the header */
              .header {
                background-color: #f1f1f1;
                padding: 20px;
                text-align: center;
              }
              
              /* Style the top navigation bar */
              .topnav {
                overflow: hidden;
                background-color: #0c171b;;
              }
              .topnav a{
                margin-left:60px;
              }
              
              /* Style the topnav links */
              .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
              }
              
              /* Change color on hover */
              .topnav a:hover {
                background-color: #ddd;
                color: black;
              }
              
              /* Create three unequal columns that floats next to each other */
              .column {
                float: left;
                padding: 10px;
              }
              
              /* Left and right column */
              .column.side {
                width: 25%;
              }
              
              /* Middle column */
              .column.middle {
                width: 50%;
              }
              
              /* Clear floats after the columns */
              .row:after {
                content: "";
                display: table;
                clear: both;
              }
              
              
              
              /* Style the footer */
              .footer {
                background-color:#5db2d4;;
                padding: 10px;
                text-align: center;
              }
              .button{
                  height: fit-content;
                  width: fit-content;
                  background-color: #130505;
                  color: white;
    